body{
width: 100%;
background-image: url(/images/images/bg.jpg);

}
header img{
        display:block;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top: 200px;
} 
img{
    border: solid 8px;
    border-radius: 50%;
    border-color: rgba(167, 91, 202, 0.514);
}    
header p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    
}  
header h1{
    color: white;

}
.img{
    margin-top: 80px;
    text-align: center;
}
main{

        width: 60%;
        margin: auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 14vh;
        

}
.img1{
    border: solid 2px black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.img2{
    border: solid 2px black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img3{
    border: solid 2px black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img4{
    border: solid 2px black;
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    
}

.img5{
    border: solid 2px black;
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 5;
}

.img6{
    border: solid 2px black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.img7{
    border: solid 2px black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}

