body{
width: 100%;
background-image: url(/images/images/bg.jpg);

}
header img{
        display:block;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top: 200px;
} 
img{
    border: solid 8px;
    border-radius: 50%;
    border-color: rgba(167, 91, 202, 0.514);
}    
header p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    
}  
header h1{
    color: white;

}.img{
    margin-top: 80px;
    text-align: center;
}
main{
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
}
.img1{
    border: solid 2px black;
}

.img2{
    border: solid 2px black;
}

.img3{
    border: solid 2px black;
}

.img4{
    border: solid 2px black;
}

.img5{
    border: solid 2px black;
}

.img6{
    border: solid 2px black;
}

.img7{
    border: solid 2px black;
}

.img8{
    border: solid 2px black;
}